
.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    position: relative;
    padding-top: 20px;
}
  
.menuIcon {
    cursor: pointer;
    font-size: 30px;
    position: relative;
    z-index: 2;
}
  
.sidebar {
    width: 250px;
    position: absolute;
    top: 60px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0; 
    visibility: hidden; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sidebar.open {
    opacity: 1; 
    visibility: visible; 
    top: 80px; 
}
  
.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: block;
    border-bottom: 1px solid #ddd;
}
  
.sidebar a:last-child {
    border-bottom: none;
}
  
.sidebar a:hover {
    color: #007bff;
}

.logoutButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    z-index: 1000; 
}

.logoutButton:hover {
    background-color: #45a049;
}
